.body, html{
    display:flex;
    align-items:center;
    justify-content:center;
   

}
ul{
    padding-left: 10px;
}
li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid gray;
}
li.completed{
    text-decoration: line-through;
    color: gray;
}